<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ inventory_hostname }}</title>
</head>
<body>
    <h1>{{ inventory_hostname }}</h1>
    <ol>
      <li>Private IP: {{ ansible_facts.default_ipv4.address}}</li>
    </ol>
</body>
</html>
